<!DOCTYPE html>
<html>
<head>
<title>All Questions</title>
<meta charset="UTF-8">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- Bootstrap imports -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/questionController.js"></script>
<script type="text/javascript" src="js/controllers/navBarController.js"></script>
<script type="text/javascript" src="js/directives/navBarDirective.js"></script>
<script type="text/javascript" src="js/controllers/topicsController.js"></script>
<link rel="stylesheet" type="text/css" href="css/questionView.css"/>

</head>
<body>
	<div ng-app="main">
		<div nav-directive></div>	
		<div class="container">   
			<div ng-controller="questionController" ng-init="init('questionsByAll','null')">
 				<div ng-repeat="question in questions" >
					<div  data-ng-include src="'questionTemplate.html'"></div>	
				</div>	
				<div class="prevNextButton">
					<button class="btn btn-primary" ng-click="prev()" ng-disabled="from==0">Previous</button>
					<button class="btn btn-primary" ng-click="next()" ng-disabled="dontShowNextButton">Next</button>	
				</div>
			</div> 
		</div>
	</div>
</body>
</html>