<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>Ask Q</title>
	<meta charset="UTF-8">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<!-- Bootstrap imports -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/askQuestionController.js"></script>
	<script type="text/javascript" src="js/controllers/navBarController.js"></script>
	<script type="text/javascript" src="js/directives/navBarDirective.js"></script>
	<style>
	
	</style>
</head>	
<body >
<div ng-app="main">
	<div nav-directive></div>
	
	<div ng-controller="askQuestionC" >
		<form novalidate name="AskQuestionForm">
	       	<div id="page content">
				<div class="row">
					<div class="col-lg-12">
						<textarea rows="7" cols="82" placeholder="{{text_area_place_holder}}"  maxlength="300" ng-model="questionText" required></textarea><br>   
					    enter topics(50 chars) seperated by comma:<br>
					    <input type="text" 	 ng-change="getTopic()"  placeholder="topics..." maxlength="50" ng-model="topicBar"  />{{error_msg}}<br>
					    <span  ng-repeat="topic in topicsArray">
					    		
					    	<button id="topic-{{$index}}" ng-click="deleteTopic($index)">{{topic}}</button>
					    
					    </span><br>
					    <input type="button"  value="Post Question" ng-click="postQuestion()" />
					    <input type="button"  value="Clear" ng-click="clearQuestion()" />
					</div>
				</div>
			</div>
		</form>
<br>DEBUG: {{debuger1}}
<br>DEBUG: {{debuger2}}
<br>DEBUG: {{debuger3}}
	</div>


	
</div>
</body>
</html>
