<!DOCTYPE html>
<html lang="en-US">

<head>
<title>Home</title>
<meta charset="UTF-8">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- Bootstrap imports -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/homePageController.js"></script>
<script type="text/javascript" src="js/controllers/answerController.js"></script>
<script type="text/javascript" src="js/controllers/navBarController.js"></script>
<script type="text/javascript" src="js/directives/navBarDirective.js"></script>
<script type="text/javascript" src="js/directives/navTabsDirective.js"></script>
<script type="text/javascript" src="js/controllers/navTabsController.js"></script>

jjj
<style>
#BtnDown{
background : #3074AE;
border : #e6f2ff;
}
#BtnUp{
background :  #3074AE;
border : #e6f2ff;
}

</style>
</head>

<body>
<div ng-app="main">
	<div nav-directive></div>	
	<div class="container">   
		<div ng-controller="homePageC" ng-init="getQuestions(from);showAnswerTextArea=false;">
			  <div nav-tabs-directive></div>
			  <br>
		    <h1>{{question_title}}</h1>
	 		<div ng-repeat="question in questions">
	 			
          <!--  <div> <a style="font-weight:bolder;font-size:125%;color:#0059b3">Question: </a> -->     
                <div style="font-weight:bolder;">{{question.QuestionText}}</div> 			
	 			{{question.CreatedHuman}}<br>
          		Topics:{{question.QTopics}}<br>
          		{{question.OwnerNickname}}<br>
          		Rating:{{question.QRating}}<br>
          		<a style="font-weight:bolder;font-size:125%;color:#0059b3">{{question.Qvotes}}</a>
	 			<!-- Qid:{{question.Qid}}<br>  -->
          		<!-- Answers:{{question.Answers}}<br>  -->
          	 	<!-- <button ng-click="addVote(question.Qid,1)">Vote up Question!</button>
          		<button ng-click="addVote(question.Qid,-1)">Vote down Question!</button><br> -->         		
	<button ng-click="addVote(question.Qid,1)" type="button" id="BtnUp" class="btn btn-success glyphicon glyphicon-thumbs-up"  data-loading-text=" ... "></button>
	<button ng-click="addVote(question.Qid,-1)"type="button" id="BtnDown" class="btn btn-success glyphicon glyphicon-thumbs-down" data-loading-text=" ... "></button><br><br>
       		<div data-ng-if="is_all_questions"><h2>answers:</h2><br>
	          		<div ng-controller="answerController" ng-init="getAnswers(question.Qid);">
	          			<div  ng-repeat="answer in answers" >          				
			          		* CreatedHuman:{{answer.CreatedHuman}}<br>
				 			* AnswerText:{{answer.AnswerText}}<br>
			          		* OwnerNickname:{{answer.OwnerNickname}}<br>
			          		* Avotes:{{answer.AVotes}}<br>
	          				Aid:{{answer.Aid}}<br>
			          		Qid:{{answer.Qid}}<br>
			          		Createdlong:{{answer.Created}}<br>		          		      		
							<button ng-click="addVote(question.Qid,answer.Aid,1)" type="button" id="BtnUp" 
								class="btn btn-success glyphicon glyphicon-thumbs-up"  data-loading-text=" ... "></button>
							<button ng-click="addVote(question.Qid,answer.Aid,-1)"type="button" id="BtnDown"
							 	class="btn btn-success glyphicon glyphicon-thumbs-down" data-loading-text=" ... "></button>          		
			          	<!-- <button ng-click="addVote(question.Qid,answer.Aid,1)">Vote up Answer!</button>
			          		<button ng-click="addVote(question.Qid,answer.Aid,-1)">Vote down Answer!</button><br> -->	 		          	       		 
	          			</div>
	          		</div>
          		</div>
 
          		<button type="button" class="btn btn-primary" id="answer_button-{{$index}}" ng-click="showAnswerTextArea = !showAnswerTextArea ; getAnswerButtonText($index)">{{answer_button}}</button><br>
          		<div data-ng-if="showAnswerTextArea">
	          		<textarea rows="7"   cols="60" placeholder="your Answer?" maxlength="300" ng-model="answerText" required></textarea><br>
	          		<button type="button" class="btn btn-primary" ng-click="postAnswer(question.Qid,answerText) ; answerText=''">submit Answer</button>
	          		<button type="button" class="btn btn-primary" ng-click="answerText=''">Clear</button>
          		</div>
          		<hr>
      		</div>  

	 		<button class="btn btn-primary" ng-click="prev()" ng-disabled="from==0">Previous</button>
            <button class="btn btn-primary" ng-click="next()" ng-disabled="dontShowNextButton">Next</button>
	 		
	  	</div>
	</div>
</div>

</body>
</html>
