<!DOCTYPE html>
<html lang="en-US">

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="loginAndRegister.js"></script> 
</head>	



<body>


	<div ng-app="loginAndRegister">
	  <div class="admin-login" ng-controller="AdminCtrl" >
	    <h2>Welcome</h2>
	    <input type="text"     id="txtUserAng" placeholder="User Name"          ng-model="U_NameLogin"    /><br>
	    <input type="password" id="txtPWDAng"  placeholder="Password"           ng-model="U_PWDLogin"     /><br>    
	    <input type="button"   id="login"      value="login"                    ng-click="Login()"   /><br>
	    
	    Registration:<br>
	    <input type="text"     id="txtUserAng" placeholder="User Name"          ng-model="U_Name"    /><br>
	    <input type="password" id="txtPWDAng"  placeholder="Password"           ng-model="U_PWD"     /><br>
	    <input type="text"     id="txtPWDAng"  placeholder="User nickname"      ng-model="U_NickMane"     /><br>
	    <input type="text"     id="txtPWDAng"  placeholder="Short description"  ng-model="U_Description"     /><br>
	    <input type="text"     id="txtPWDAng"  placeholder="Upload photo"       ng-model="U_Photo"     /><br>

	    <input type="button"   id="Register"   value="Register"        ng-click="Register()"/><br>
	  </div>
	</div>
	 
	
</body>
</html>