<!DOCTYPE html>
<html lang="en-US">

<head>
<title>LeaderBoard</title>
<meta charset="UTF-8">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- Bootstrap imports -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- js controllers -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/homePageController.js"></script>
<script type="text/javascript" src="js/controllers/answerController.js"></script>
<script type="text/javascript" src="js/controllers/navBarController.js"></script>
<script type="text/javascript" src="js/directives/navBarDirective.js"></script>
<script type="text/javascript" src="js/directives/navTabsDirective.js"></script>
<script type="text/javascript" src="js/controllers/navTabsController.js"></script>
<script type="text/javascript" src="js/controllers/leaderBoardController.js"></script>

<!-- css file -->
<link rel="stylesheet" type="text/css" href="css/leaderBoardView.css"/>
</head>

<body>
<div ng-app="main">
	<div nav-directive></div>	
	<div class="container">   
		<div ng-controller="leaderBoardC" ng-init="getUsers()">
			<div ng-repeat="user in users"> <!-- display user -->
	     		<div class="user"><a href="userProfile.html#/#{{user.Nickname}}">{{user.Nickname}}</a></div>
				<img ng-src="{{user.PhotoUrl}}" alt="This is the User Profile picture " width="100"/> 
				<br>		
				<div class="text">Description:{{user.Description}}</div>
				<div class="text">User Rating:{{user.UserRating}}</div>	
				<div ng-show="user.Topics.length>0">
					<span class="headerRow text"> Expertise:</span>
					<span ng-repeat="expertise in user.Topics" class="cloud topicView"> <!-- display expertise -->
	   				<button class="topicTag">{{expertise}}</button>
	    			</span>
				</div>	
    			<hr>
   			</div>
	  	</div>
	</div>
</div>




</body>
</html>



