<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>login/register</title>
	<meta charset="UTF-8">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

		<!-- Bootstrap imports -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/loginAndRegisterController.js"></script> 
	<link rel="stylesheet" type="text/css" href="css/login.css" />
	
</head>	
<body>
	<div class="container-fluid">
		<div ng-app="main" ng-controller="logAndRegC" >
		  	<div class="row">
		  		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
		  		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			    <div id="pageLogo">Do it Yourself</div>      
		  <div class="jumbotron">
			    <form novalidate ng-show="showLoginView" name="loginForm" ng-submit="Login()">
			    	<div>Login Page:</div>
			    	<div class="form-group">
			    		<input class="form-control" type="text" placeholder="User Name" maxlength="10" ng-model="loginUsername" required/><span novalidate ng-hide="showDangerUserName" class="glyphicon glyphicon-remove-sign" href="#" data-toggle="tooltip" data-placement="right" ng-attr-title="{{logUNError}}"></span>
					    <input class="form-control" type="password" placeholder="Password" maxlength="8"  ng-model="loginPass" required/><span novalidate ng-hide="showDangerPassword" class="glyphicon glyphicon-remove-sign" href="#" data-toggle="tooltip" data-placement="right" ng-attr-title="{{logPWError}}"></span>
				    </div>
				    <span class="form-inline">
					    <input class="form-control" type="submit" value="login"/>
					    <input class="form-control" type="button" value="clear" ng-click="logClear()"/>
					</span>    
					    <a id="moveToOtherForm" href="" ng-click="showLoginView = !showLoginView">To registration</a>
			    </form>
			    <form novalidate ng-hide="showLoginView" name="regForm" ng-submit="Register()">
			    <div>Registration Page:</div>
			    <div class="form-group">
			    	<input class="form-control" type="text" placeholder="User Name" maxlength="10" ng-model="regUsername" required   /><span novalidate ng-hide="showDangerRegUN" class="glyphicon glyphicon-remove-sign" href="#" data-toggle="tooltip" data-placement="right" ng-attr-title="{{regUNError}}"></span>
				    <input class="form-control" type="password" placeholder="Password" maxlength="8" ng-model="regPass"  required   /><span novalidate ng-hide="showDangerRegPW" class="glyphicon glyphicon-remove-sign" href="#" data-toggle="tooltip" data-placement="right"  ng-attr-title="{{regPWError}}"></span>
				    <input class="form-control" type="text" placeholder="User nickname" maxlength="20" ng-model="nickname" required    /><span novalidate ng-hide="showDangerRegNN" class="glyphicon glyphicon-remove-sign" href="#" data-toggle="tooltip" data-placement="right" ng-attr-title="{{regNNError}}"></span>
				    <textarea class="form-control" rows="3" cols="20" placeholder="Short description" maxlength="50" ng-model="description" ></textarea>   
				    <input class="form-control" type="text" placeholder="Upload photo" ng-model="photoUrl"     />					    
			    </div>
			    <span class="form-inline">
				    <input class="form-control" type="submit"  value="Register"/>
				    <input class="form-control" type="button" value="clear" ng-click="regClear()"/>
			    </span>
				    <a id="moveToOtherForm" href="" ng-click="showLoginView = !showLoginView">to login</a>
			    </form>
			    </div>
			    
	     	</div>      
	     </div>      
	</div>
</div>
</body>
</html>






