<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>login/register</title>
	<meta charset="UTF-8">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

		<!-- Bootstrap imports -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="js/controllers/loginAndRegisterController.js"></script> 

	<style>
	body {
	    background-image: url("Images/BackGround.jpg");
	    background-attachment: fixed;
	    background-size: 100%;
	    background-repeat: no-repeat;
	    background-opacity: 0.4;
	
	}
	#divElement{
	    position: absolute;
	    top: 30%;
	    left: 50%;
	    margin-top: -50px;
	    margin-left: -50px;
	    width: 100px;
	    height: 100px;
	}
	</style>
</head>	
<body>
<div class="container-fluid">
	<div ng-app="logAndReg" ng-controller="logAndRegC" >
		<form novalidate name="loginForm" >
			<div class="row">
				<div class="col-md-2"><h3>Do it Yourself</h3></div>
				<div class="col-md-7"></div>
				<div class="col-md-3">
					<!-- login input and button -->
					login:<span class="text-danger">{{logErr}}</span><br>
				    <input type="text" 	   placeholder="User Name" maxlength="10" ng-model="loginUsername" required/><span class="text-danger">{{logUNError}} </span><br>
				    <input type="password" placeholder="Password"  maxlength="8"  ng-model="loginPass" required/><span class="text-danger">{{logPWError}}</span><br>
				    <input type="button" value="login" ng-click="Login()"/>
				    <input type="button" value="clear" ng-click="logClear()"/>
			    </div>
			</div>
		</form>
			<hr/>
			<!-- page -->
		<form novalidate name="regForm">	
			<div id="page content">		
				<div class="row">
					<div class="col-md-9">
						background picture here
					</div>
					<div class="col-md-3"> 
				    	<!-- registration input and button -->
					    registration:<br>
					    <input type="text" placeholder="User Name" maxlength="10" ng-model="regUsername" required   /><span class="text-danger">{{regUNError}}</span><br>
					    <input type="password" placeholder="Password"       maxlength="8"    ng-model="regPass"  required   /><span class="text-danger">{{regPWError}}</span><br>
					    <input type="text" placeholder="User nickname"  maxlength="20"    ng-model="nickname" required    /><span class="text-danger">{{regNNError}}</span><br>
					    <textarea rows="3" cols="20" placeholder="Short description" maxlength="50" ng-model="description" ></textarea><br>   
					    <input type="text" placeholder="Upload photo"  ng-model="photoUrl"     /><br>					    
					    <input type="button"  value="Register" ng-click="Register()"/>
					    <input type="button" value="clear" ng-click="regClear()"/>
			 		</div>
				</div>
			</div>		
		 </form>
	 </div>
</div>
	
</body>
</html>