<!DOCTYPE html>
<html lang="en-US">

<head>
<title>Home</title>
<meta charset="UTF-8">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- Bootstrap imports -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/questionPageController.js"></script>
<script type="text/javascript" src="js/controllers/navBarController.js"></script>
<script type="text/javascript" src="js/directives/navBarDirective.js"></script>
</head>

<body>
<div ng-app="main">
	<div nav-directive></div>	
	<div class="container">   
		<div ng-controller="questionPage" ng-init="getQuestionFromSession();getAnswers()">
	 		
	 			<hr>
	 				<h4>{{question.Title}}</h4>
          		<hr>
	 			1.Qid:{{question.Qid}}<br>
	 			2.Qtext:{{question.QuestionText}}<br>
          		3.Qvotes:{{question.Qvotes}}<br>
          		4.QTopics:{{question.QTopics}}<br>
          		5.OwnerNickname:{{question.OwnerNickname}}<br>
          		6.Createdlong:{{question.Created}}<br>
          		7.CreatedHuman:{{question.CreatedHuman}}<br>
          		8.QRating:{{question.QRating}}<br>
          		9.Answers:{{question.Answers}}<br>
          		<hr>
      
          		<!--  <button ng-click="getAnswers(question.Qid)" >get ans</button>-->
          		<!-- <div ng-model="getAnswers(question.Qid)"></div> -->
          		
          		<div ng-repeat="answer in answers">
	          		<hr>
          			1.Aid:{{answer.Aid}}<br>
	          		2.Qid:{{answer.Qid}}<br>
		 			3.AnswerText:{{answer.AnswerText}}<br>
	          		4.OwnerNickname:{{answer.OwnerNickname}}<br>
	          		5.ARating:{{answer.ARating}}<br>
	          		6.Avotes:{{answer.AVotes}}<br>
	          		7.Createdlong:{{answer.Created}}<br>
	          		8.CreatedHuman:{{answer.CreatedHuman}}<br>
          		</div>
          		<hr>
          		<textarea rows="7"   cols="60" placeholder="your Answer?" maxlength="300" ng-model="answerText" required></textarea><br>
          		<button ng-click="postAnswer(question.Qid,answerText) ; answerText=''">submit Answer</button>
          		<button ng-click="answerText=''">Clear</button><br>
      	
          		

	 		
	  	</div>
	</div>
</div>

</body>
</html>
