<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>question template</title>
	<link rel="stylesheet" type="text/css" href="css/question.css"/>
</head>

<body>
<div class="jumbotron" id="Qjumbo">
  	<div class="row" id="firstRow">
  		<div class="col-sm-2">
  			<img class="ownerPic" id="ownerPicQ" alt="owner picture" src="">
  		</div>
  		<div class="col-sm-5">
  			<div id="ownerQ">asked by:{{question.OwnerNickname}}</div>
  		</div>
  		<div class="col-sm-5">
  			<div id="dateQ"><div>date:{{question.CreatedHuman}}</div></div>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-sm-2">
  			<div class="votesCluster" id="questionVotes">
				<button ng-click="addVote(question.Qid,1)" type="button" id="BtnUp" class="btn btn-success glyphicon glyphicon-thumbs-up"  data-loading-text=" ... "></button>  			
	  			<div id="voteScore">{{question.Qvotes}}</div>
	  			<button ng-click="addVote(question.Qid,-1)"type="button"  id="BtnDown" class="btn btn-success glyphicon glyphicon-thumbs-down" data-loading-text=" ... "></button>
  			</div>
  			<div class="ratingCluster">
				<div id="ratingTag">Q</div>
				<div id="rating">{{question.QRating}}</div>
  			</div>
  		</div>
  		<div class="col-sm-10">
  			<div class="text" id="Qtext">{{question.QuestionText}}</div>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-sm-2"></div>
  		<div class="col-sm-10">
			<div ng-controller="topicsC" ng-init="getTopics(question.Qid)">
				<span id="topicsHeader">topics:</span> 
				<span ng-repeat="topic in topics">
					<button>{{topic}}</button>
				</span>
			</div>
 		</div>
	</div>
</div>

	<!-- <div class="debugQ">
  	<h1>debugging purposes:</h1>
	<div>Qid:{{question.Qid}}</div>
	<div>Text:{{question.QuestionText}}</div>
	<div>Nickname:{{question.OwnerNickname}}</div>
  	<div>QRating:{{question.QRating}}</div>	
  	<div>Qvotes:{{question.Qvotes}}</div>	
	<div>date long:{{question.Created}}</div>
	<div>date:{{question.CreatedHuman}}</div>
	<div>answers:{{question.Answers}}</div>
		<div ng-controller="topicsC" ng-init="getTopics(question.Qid)">
			topics:
			<span ng-repeat="topic in topics">
				 {{$index+1}}-{{topic}}
			</span>
		</div>
	</div> -->




<div data-ng-if="focus != 'questionsByNewly'"> 
	<div ng-controller="answersService" ng-init="getAnswers(question.Qid);"> 
		<div class="row showMoreButtonAndCountAnswers">
			<div class="col-sm-6">
				<span>there are {{question.Answers}} answers for this Question</span> 
	   		</div>	
	   		<div class="col-sm-1"></div>
	   		<div class="col-sm-5">
	      		<span ng-show="(question.Answers>1)">
	      			<button class="btn btn-primary" id="more_answers-{{$index}}" ng-click="presentAllAnswers(question.Answers,$index);">{{more_answers}}</button> 
	   			</span>
			</div>
		</div>
		<div ng-repeat="answer in answers|limitTo:how_much_to_show[$index].show" >
			<div class="jumbotron" id="Ajumbo">
			  	<div class="row" id="firstRow">
			  		<div class="col-sm-2">
			  			<img class="ownerPic" id="ownerPicA" alt="owner picture" src="">
			  		</div>
			  		<div class="col-sm-5">
			  			<div id="ownerA">answerd by:{{answer.OwnerNickname}}</div>
			  		</div>
			  		<div class="col-sm-5">
			  			<div id="dateA"><div>date:{{answer.CreatedHuman}}</div></div>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="col-sm-2">
			  			<div class="votesCluster" id="answerVotes">
							<button ng-click="addVote(question.Qid,answer.Aid,1)" type="button" id="BtnUp" class="btn btn-success glyphicon glyphicon-thumbs-up"  data-loading-text=" ... "></button>  			
				  			<div id="voteScore">{{answer.AVotes}}</div>
				  			<button ng-click="addVote(question.Qid,answer.Aid,-1)"type="button" id="BtnDown" class="btn btn-success glyphicon glyphicon-thumbs-down" data-loading-text=" ... "></button>
			  			</div>
			  		</div>
			  		<div class="col-sm-10">
			  			<div class="text" id="Atext">{{answer.AnswerText}}</div>
			  		</div>
			  	</div>
			</div>
		</div>
			  	<div class="row">
			  		<div class="col-sm-12 addAnswer">
			  			<button type="button" class="btn btn-primary"  ng-click="answerButtonPressed()">{{answer_button}}</button><br>
			       		<div data-ng-show="showAnswerTextArea">
			        		<textarea rows="7"   cols="60" placeholder="your Answer?" maxlength="300" ng-model="answerText" required></textarea><br>
			        		<button type="button" class="btn btn-primary" ng-click="postAnswer(question.Qid,answerText,$index) ; answerText=''">submit Answer</button>
			        		<button type="button" class="btn btn-primary" ng-click="answerText=''">Clear</button>
			       		</div>
			  		</div>
			  		
			  	</div>
			  	
			
			<!-- <div class="debugA">
				<h1>debugging purposes:</h1><br>
				Aid:{{answer.Aid}}<br>
	       		Qid:{{answer.Qid}}<br>
				AnswerText:{{answer.AnswerText}}<br>
	       		OwnerNickname:{{answer.OwnerNickname}}<br>
	       		avotes:{{answer.AVotes}}   <br>	    		
	       		Createdlong:{{answer.Created}}<br>	    
	       		CreatedHuman:{{answer.CreatedHuman}}<br>
			</div>		 -->
			
			
	</div>
</div>
		
					
			
			 						 	  	       		          	       		 

    
   
			
       		
	 		
			


</body>
</html>