.topicTag{
	color: #F1F1EF;
    font-size: 15px;
    border: 1px solid #E1ECF4;
    border-radius: 20px;
    border-radius: 0;
    margin-top: 3px;
    color: #675F56;
}

#userName{
	color: #401A0C;
	
}
.user{

    font-size: 1.77777778em;
    font-style: italic;
    font-weight: normal;
    color: #333;
    display: block;
    font-family: 'Helvetica Neue';
    font-style: italic;
    font-size: 43px;
}

.text{
	font-size: 19px;
}

body{
	background-color: #f1f1ef !important;
}
