.loginView{
	font-family: 'Helvetica Neue';
	font-style: italic;
    padding: 1em 1.6em;
    border-radius: 25px;
	font-size: 21px;
    position: absolute;
    margin: 0;
    background-color: rgba(204, 204, 204, 0.5);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}


.pageHeader{
	color: red;
	font-family: 'Helvetica Neue';
	font-size: 55px;
	font-style: italic;
	text-align: center;
	text-decoration: underline;
}


body{
	background-image: url("../Images/BackGround.jpg");
    background-attachment: fixed;
    background-size: cover; 
    background-repeat: no-repeat;
    background-opacity: 0.4;
}


input{
	max-width: 200px;
}

textarea {
    max-width: 200px;
}
/* 
html, body {
  height: 100%;


}
body{
	height: 100%;
    background-image: url("../Images/BackGround.jpg");
    background-attachment: fixed;
    background-size: cover; 
    background-repeat: no-repeat;
    background-opacity: 0.4;	
}

#moveToOtherForm{
	color: black;
}
form{
	font-family: 'Helvetica Neue';
	font-size: 24px;
	font-style: italic;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: center;
}

#pageLogo{
	color: blue;
	font-family: 'Helvetica Neue';
	font-size: 24px;
	font-style: italic;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: center;	
}

.jumbotron{
	
    margin-top: 200px;
    background-color: rgba(204, 204, 204, 0.5);
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: -30px;
    left: 170px;
} */



/*div{
    color: yellow;	
}
#divElement{
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    
    
    html {
    display: inherit;
}
body{
	height: 100%;
    background-image: url("../Images/BackGround.jpg");
    background-attachment: fixed;
    background-size: cover; 
    background-repeat: no-repeat;	
}

#example1{
	background-color: #777171;
	opacity: 0.93; 	
}

.jumbotron{
	background-color:rgba(255,0,0,0.5);
}


#example2{
	background-color: #777171;
	opacity: 0.93; 
	height: 930px;
}

input:focus, textarea:focus{
	color: red;
	background-color:yellow;
}

input::-webkit-input-placeholder {
color: blue !important;
}
textarea::-webkit-input-placeholder {
color: blue !important;
}

#example1 > h1{
	color: red;
}
/*
	opacity: 0.93; //tansperanse
	background-color: blue;
	background-image: url("../Images/BackGround.jpg");
	
	font-family: 'Helvetica Neue';
	font-size: 24px;
	font-style: italic;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	
	
	
	#button{
    position: absolute;
    bottom: 0;
    left: 0;
  }
	
	
*/
    
}*/