.jumbotron{
	
	color: black;
	padding-left: 5px !important;
    padding-right: 5px !important;;
    padding-top: 5px;
    padding-bottom: 5px;

}

#Qjumbo{
	background-color: rgba(19, 36, 234, 0.71);
}

#Ajumbo{
    background-color: rgba(255, 0, 0, 0.75);
}


#firstRow{/*owner + Pic + date*/
	text-align: center;
}

.ownerPic{
	border: 1px solid white;
	color: black;
    width: 80px;
    height: 90px;
    margin-left: 5px;   
    margin-top: 5px;   	
    margin-bottom: 5px;  
     	
}

#ownerPicQ{
	background-color: #54C6CC;
}

#ownerPicA{
	background-color: #CA5353;
}

#ownerQ, #dateQ{
	border: 1px solid white;
	margin-top: 5px; 
	background-color: #54C6CC;
}

#ownerA, #dateA{
	border: 1px solid white;
	margin-top: 5px; 
	background-color: #CA5353;
}

.text{
	border: 1px solid white; 
    width: 585px;
    height: 167px;
    margin-left: -20px;
    padding-top: 25px;
    padding-down: 25px;
    padding-right: 25px;
    padding-left: 25px;
    
}

#Qtext{
	background-color: #54C6CC;
}
#Atext{
	background-color: #CA5353;
}

.votesCluster{/*both buttons and vote score*/
	color: black;
	border: 1px solid white; 
	margin-left: 24px;
    height: 99px;
    width: 40px;
    margin-bottom: 2px;  
    
}

#questionVotes{
	background-color: #54C6CC;
}

#answerVotes{
	margin-top: 30px;
  	background-color: #CA5353;
}


#BtnUp{
	background :  #3074AE;
	border : #e6f2ff;
 	
}
#voteScore{
 	width: 38px;
    height: 32px;
    text-align: center;  
    line-height: 2.3; 
}

#BtnDown{
	background :  #3074AE;
	border : #e6f2ff;	
}

.ratingCluster{
	text-align: center;
	border: 1px solid white;
	height: 66px;
    width: 40px;
	color: black;
	margin-left: 24px;
	text-align: center;  
    line-height: 2.3;   
	background-color: #54C6CC;
}

#topicsHeader{
	font-size: 200%;
}

.debugQ{
	border: 5px solid black;
	background-color: rgba(19, 36, 234, 0.71);
}
.debugA{
	border: 5px solid black;
	background-color: rgba(255, 0, 0, 0.75);
}

.addAnswer{
	margin-top: -20px;
    margin-bottom: 50px;
}

.prevNextButton{
	/*position: absolute;*/
	/* position: fixed; */
	position: relative;
    /*bottom: 1%;*/
    left: 45%;
}

.showMoreButtonAndCountAnswers{
	margin-bottom: 20px;
}








