.topicView{
	/* 
	margin-bottom: 5px;
    margin-top: 5px; 
    border: 1px solid black;
	min-height: 230px;
    border-radius: 25px;
    text-align: center;  
    padding: 10px;  
    */
    margin: auto;
    width: 90%;
    margin-left: 30%;
    

	font-family: 'Helvetica Neue';
	font-size: 28px;
	font-style: italic;
}


.headerRow{
	text-align: center;
    font-size: 1.77777778em;
    font-style: italic;
    font-weight: normal;
    color: #333;
    display: block;
    font-family: 'Helvetica Neue';
    font-style: italic;
}
hr {
    margin-top: 10px;
    margin-bottom: 2px;
    border: 0;
    border-top: 1px solid #CABDBD !important;
}

#topicsHeader{
    font-size: 3em;	
}

#topicsSemiHeader{
	font-size: 1.2em;
}

#backToTopics{
    margin-top: 5px;

}